<!DOCTYPE html>
<html>
<body background="/static/texture2.jpg">
    {% extends "nav.html" %} 
    {% block content %}

    
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-row">
  <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-0af00aa" data-id="0af00aa" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
      <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-190f57f elementor-widget elementor-widget-image" data-id="190f57f" data-element_type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
        <div class="elementor-image">
                <img width="342" height="291" src="/static/profile.png"  class="attachment-large size-large" alt="buy coffee beans" loading="lazy" srcset="/static/profile.png 300w" sizes="(max-width: 342px) 100vw, 342px">														</div>
    </div>
</div>
<div class="elementor-element elementor-element-7814e28 elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="7814e28" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
  <div class="elementor-button-wrapper">
<a href="products.html" class="elementor-button-link elementor-button elementor-size-sm elementor-animation-float" role="button">
    <span class="elementor-button-content-wrapper">
      <span class="elementor-button-icon elementor-align-icon-right">
<i aria-hidden="true" class="fas fa-arrow-circle-right"></i>			</span>

  
</span>
  </a>
</div>
</div>
</div>
    </div>
  </div>
</div>

<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-fe51b29" data-id="fe51b29" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
      <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-c0fab82 elementor-widget elementor-widget-text-editor" data-id="c0fab82" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
              
<p> <b>At Tisca Agro india- Tea and Coffee Premix ,</b> Our products are focused on providing premium coffee or tea blends that will captivate your taste buds while helping the community too. All of our sustainably sourced, premium coffee or tea premix blends feature a spectrum of worldwide flavors designed to enrich every gourmet mug of our fresh roasted coffee or tea.</p>
<p >As a coffee and tea Premix company committed to serving the community with vibrant coffee blends and fragrant coffee beans and tea leaves, our product store has perfected the roasting technique to bring out the best in every cup. We know how important your next cup of coffee  or tea is, and our  company wants to open your eyes to the specialty flavors that we’ve discovered from around the world.</p>
<p >Our company has fine-tuned the coffee and tea roasting process to bring out the very best in our fresh coffee beans and tea leaves. </p><p>  As true coffee or tea lovers,our  company strives to maintain the delicate natural flavors within our fresh coffee beans and tea leaves; carefully roasted in small batches, our specialty and organic coffee or tea blends feature unique flavor profiles for the ultimate sipping experience.</p>	</p>				</div>
    </div>
</div>
    </div>
  </div>
</div>


      {% endblock %}
    
   
</body>
</html>